/* navbar */
.navbar {
    display: flex;
    font-family: monospace;
    padding-top: unset;
    padding-top: unset;
}

.navbar-brand {
    display: block;
    padding-left: 20px;
}

.nav-menu {
    display: flex;
    text-decoration: none;
    margin-left: auto;
}

.nav-item, 
.nav-link {
    display: inline-block;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
}

.nav-link:hover {
    text-decoration: underline;
    color: rosybrown;
}